.jumbotron{
    padding-top: 6rem;
    background-color: #ebdce8;
}
.color spesial{
    background-color: #a30099;
}
.font-1{
    text-align: justify;
}
.bgg-1{
    background-image: url(img/BTS.jpg);
}
.padding-atas{
    padding-top: 2rem;
}
.padding-bawah{
    padding-bottom: 2rem;
}
.color-purpel{
    background-color: #ebdce8;
}
section{
    padding-top: 6rem;
}
.bg-text{ 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.font-spesial{
    font-family: 'DM Serif Display', serif;
}
.benner{
    background: url(https://i.pinimg.com/originals/cc/f5/b2/ccf5b263ef583615d93508d8dc97979a.jpg) no-repeat center center; 
    background-size: cover;
    color: #f1f1f1;
    padding-top: 20%;
    padding-bottom: 20%;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.heider{
    height: 100%;
    width: 100vh;
    background: linear-gradient() no-repeat center center;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.back-video{
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
}